<nav class="navbar navbar-dropdown transparent navbar-fixed-top bg-color">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html" class="navbar-logo"><img src="assets/images/logo-1-128x128.png" alt="Logo"></a>
            <a class="text-black" href="index.html">Catarina Terra</a>
        </div>

        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <div class="hamburger-icon"></div>
        </button>
        <ul class="nav-dropdown collapse pull-xs-right navbar-toggleable-sm nav navbar-nav" id="exCollapsingNavbar"><li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="index.html" aria-expanded="false">Work</a><div class="dropdown-menu"><a class="dropdown-item" href="logos.html">Logos</a><a class="dropdown-item" href="cards.html">Cards</a><a class="dropdown-item" href="uxui.html">UX/UI Design</a><a class="dropdown-item" href="other.html">Other</a></div></li><li class="nav-item"><a class="nav-link link" href="aboutme.html" aria-expanded="true">About me (EN)</a></li><li class="nav-item"><a class="nav-link link" href="sobremim.html" aria-expanded="true">Sobre mim (PT)</a></li></ul>
    </div>
</nav>