.masonry-sizer,
.masonry-item {
	width: 25%;
	padding: 10px;
}


.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.other-close {
	position: absolute;
	background-image: none;
	font-size: 20px;
	width: 54px;
	height: 54px;
	border-radius: 27px;
	color: #fff;
	top: 2rem;
	right: 2rem;
	line-height: 54px;
	opacity: 1;
	border: 1px solid #fff;
	text-align: center;
	text-shadow: none;
	z-index: 5;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	float: right;
}

.other-close:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
}

@media (max-width: 768px) {
.masonry-sizer,
.masonry-item {
	width: 50%;
	padding: 5px;
}
}

@media (max-width: 767px) {
.inicio{
	width: 50% !important;
    float: left;
}
.cartao{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
}
.menu-inicial{
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.card-block{
	padding-top: 10%;
	padding-bottom: 10%;
}
}

.navbar-nav{padding-top: 7px;}

.cart-block a.linkmenu:hover {
	text-decoration: none !important; 
}

.card:hover .card-block {
 background-color:#20b3a617 !important;}


.logo .logos {
  width: 24% !important;
}

@media (max-width: 768px) {
	.logo .logos {
 	 width: 100% !important;
	}

@media (max-width: 400px) {
	.logo .logos {
  	width: 100% !important;
}


@media (max-width: 768px) {
	.logo {
    padding-right: 0em !important; 
    padding-left: 0em !important;
	}

@media (max-width: 400px) {
	.logo {
    padding-right: 0em !important; 
    padding-left: 0em !important;
	}

img.size_logos{
	display: block !important; 
	margin-left: auto !important; 
	margin-right: auto !important;
}

@media (min-width: 768px) {
	.carousel-control {
	position: absolute !important;
	top: 50% !important; /* pushes the icon in the middle of the height */
	z-index: 5 !important;
	display: inline-block !important;
	}
}